html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("./img/pokemonlist.png");
  background-size: cover;
  background-color: rgb(151, 190, 206);
}

#pokedexbackground {
  position: relative;
}


/* flashing blue light */
.bluelight {
  position: absolute;
  border-radius: 50%;
  height: 82px;
  width: 82px;
  top: 8.4%;
  left: 6.4%;
  margin: 0;
  opacity: 0.7;
  background: radial-gradient(circle at 90px 90px, #aeccec, rgb(175, 220, 230));
  -webkit-animation: bluelight 1s ease-in-out infinite alternate;
  -moz-animation: bluelight 1s ease-in-out infinite alternate;
  animation: bluelight 1s ease-in-out infinite alternate;
}

@-webkit-keyframes bluelight {
  from {
    box-shadow: 0 0 10px rgb(3, 47, 105), 0 0 20px rgb(36, 11, 11),
      0 0 30px #223bca, 0 0 40px #0400e6, 0 0 50px #12424e, 0 0 60px #06336d;
  }

  to {
    box-shadow: 0 0 20px rgb(218, 231, 235), 0 0 30px #4dffff, 0 0 40px #84c2db,
      0 0 50px #80b8dd, 0 0 60px #d3dedf, 0 0 70px #7db4b8;
  }
}

.none {
  display: none;
}

#yellowlight {
  position: absolute;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  top: 66.4%;
  left: 89.3%;
  margin: 0;
  background: radial-gradient(circle at 90px 90px, #aeccec, rgb(175, 220, 230));
  -webkit-animation: yellowlight 0.2s ease-in-out infinite alternate;
  -moz-animation: yellowlight 0.2s ease-in-out infinite alternate;
  animation: yellowlight 0.2s ease-in-out infinite alternate;
}

@-webkit-keyframes yellowlight {
  from {
    box-shadow: 0 0 10px rgb(202, 173, 8), 0 0 20px rgb(219, 200, 26),
      0 0 30px #caab22, 0 0 40px #e6a100, 0 0 50px #a8990c, 0 0 60px #d1a209;
      opacity: 0;
  }

  to {
    box-shadow: 0 0 20px rgb(167, 137, 6), 0 0 30px #d1a30d, 0 0 40px hsl(44, 90%, 53%),
      0 0 50px #fffb0d, 0 0 60px #f5f50b, 0 0 70px #f5f376;
      opacity: 1;
  }
}

#redlight {
  position: absolute;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  top: 63%;
  left: 13.3%;
  margin: 0;
  opacity: 1;
  background: radial-gradient(circle at 90px 90px, #ff2323, rgb(240, 47, 47));
  -webkit-animation: redlight 0.2s ease-in-out infinite alternate;
  -moz-animation: redlight 0.2s ease-in-out infinite alternate;
  animation: redlight 0.2s ease-in-out infinite alternate;
}

@-webkit-keyframes redlight {
  from {
    box-shadow: 0 0 10px rgb(202, 8, 8), 0 0 20px rgb(219, 26, 26),
      0 0 20px #ca2222, 0 0 25px #e60000, 0 0 30px #a80c0c, 0 0 35px #d10909;
  }

  to {
    box-shadow: 0 0 10px rgb(167, 6, 6), 0 0 20px #d10d0d, 0 0 25px hsl(0, 90%, 53%),
      0 0 30px #ff0d0d, 0 0 35px #f50b0b, 0 0 40px #f57676;
  }
}

/* end flashing blue light */

#display {
  top: 30%;
  left: 7.9%;
  height: 31.8%;
  width: 34%;
  position: absolute;

  background-color: rgb(44, 45, 54);
}

#type {
  height: 32px;
  width: 104px;
  position: absolute;
  top: 65.8%;
  left: 58.4%;
}

#subType {
  height: 32px;
  width: 105px;
  position: absolute;
  top: 66%;
  left: 70.1%;
}

#searchbar {
  font-family: "Press Start 2P", cursive;
  font-size: 1.4em;
  color: rgb(233, 229, 17);
  background: transparent;
  border: none;
  position: absolute;
  top: 39%;
  left: 60%;
  max-width: 30%;
}

#prev {
  top: 73.2%;
  left: 33.1%;

  font-size: 15pt;

  position: absolute;
}

#next {
  top: 83.3%;
  left: 33.1%;

  font-size: 15pt;

  position: absolute;
}

#next:hover {
  color: yellow;
}

#prev:hover {
  color: yellow;
}

#reset {
  top: 79.5%;
  left: 61%;

  position: absolute;
}

#playSound {
  top: 71%;
  left: 7.4%;

  position: absolute;

  font-size: 20pt;
}

/* removes border from input box */
input:focus {
  outline: none;
}

button {
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  style: none;
  border: none;
  background: transparent;
  position: absolute;
  top: 79.5%;
  left: 78.5%;
  max-width: 30%;
  color: rgb(211, 200, 200);
}

/* Slideshow */

* {
  box-sizing: border-box;
}

.slideshow-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.mySlides {
  display: none;
}

.one {
  width: 100%;
  height: 100%;
  position: absolute;
}

.two {
  width: 100%;
  height: 100%;
  position: absolute;
}
.three {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.btn-left {
  position: absolute;
  top: 77.9%;
  left: 29.5%;
  font-size: 15pt;
}

.btn-left:focus {
  outline: none;
}

.btn-right:focus {
  outline: none;
}

.btn-left:hover {
  cursor: pointer;
  color: yellow;
}

.btn-right:hover {
  cursor: pointer;
  color: yellow;
}

.btn-right {
  position: absolute;
  top: 77.9%;
  left: 36.8%;
  font-size: 15pt;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

#size {
  top: 82.9%;
  left: 8%;

  font-size: 11pt;

  max-width: 162px;

  position: absolute;

  display: flex;
  flex-direction: row;

  font-family: "Press Start 2P", cursive;
}

/* SLIDE 1 */

#name {
  font-family: "Press Start 2P", cursive;
  font-size: 12pt;

  top: 4%;
  left: 10%;

  position: absolute;
}

#id {
  font-family: "Press Start 2P", cursive;
  font-size: 12pt;

  top: 4%;
  left: 74%;

  position: absolute;
}

#image {
  top: 4%;
  left: 20%;

  width: 200px;
  height: 200px;

  position: absolute;
}

#poke-text {
  bottom: 3px;

  font-family: "Press Start 2P", cursive;

  font-size: 7pt;

  position: absolute;

  text-align: justify;
}
