html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("./img/pokemonlist.png");
  background-size: cover;
  background-color: rgb(151, 190, 206);
}

#pokedexbackground {
  position: relative;
}

#display {
  top: 30%;
  left: 7.9%;
  height: 31.8%;
  width: 34%;
  position: absolute;

  background-color: rgb(44, 45, 54);
}

#type {
  height: 32px;
  width: 104px;
  position: absolute;
  top: 65.8%;
  left: 58.4%;
}

#searchbar {
  font-family: "Press Start 2P", cursive;
  font-size: 1.4em;
  color: rgb(233, 229, 17);
  background: transparent;
  border: none;
  position: absolute;
  top: 39%;
  left: 60%;
  max-width: 30%;
}

#prev {
  top: 73.5%;
  left: 33.3%;

  position: absolute;
}

#next {
  top: 83.3%;
  left: 33.3%;

  position: absolute;
}

#next:hover {
  background: green;
}

#prev:hover {
  background: red;
}

#reset {
  top: 79.5%;
  left: 61%;

  position: absolute;
}

#playSound {
  top: 71%;
  left: 7.4%;

  position: absolute;

  font-size: 20pt;
}

/* removes border from input box */
input:focus {
  outline: none;
}

button {
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  style: none;
  border: none;
  background: transparent;
  position: absolute;
  top: 79.5%;
  left: 78.5%;
  max-width: 30%;
  color: rgb(211, 200, 200);
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}
